<h1>Scores</h1>
<table>
    <tr>
        <th>Team</th>
        <th>Temperature</th>
        <th>Luminosity</th>
        <th>Humidity</th>
        <th>Score</th>
    </tr>
    <% for(var i = 0; i < teams.length; i++) { %>
    <tr>
        <td><%= teams[i].name %> </td>
        <td><%= teams[i].temperature === null ? 'N/A' : teams[i].temperature %></td>
        <td><%= teams[i].luminosity === null ? 'N/A' : teams[i].luminosity %></td>
        <td><%= teams[i].humidity === null ? 'N/A' : teams[i].humidity %></td>
        <td><%= teams[i].total === null ? 'N/A' : teams[i].total%></td>
    </tr>
    <% } %>
</table>
